​​1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd

data = [1, 2, 3, 4, 5] 
series = pd.Series(data)

print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [2]:
import pandas as pd

series = pd.Series([1, 2, 3, 4, 5])
python_list = series.tolist()

print(python_list)
print(type(python_list))

[1, 2, 3, 4, 5]
<class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [4]:
import pandas as pd

series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

addition = series1 + series2
subtraction = series1 - series2
multiplication = series1 * series2
division = series1 / series2

print(addition)
print(subtraction)
print(multiplication)
print(division)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [5]:
import pandas as pd

series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 10])

equal = series1 == series2
greater = series1 > series2
less = series1 < series2

print("Equal:\n", equal)
print("Greater:\n", greater)
print("Less:\n", less)

Equal:
 0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater:
 0     True
1     True
2     True
3     True
4    False
dtype: bool
Less:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series. 
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [6]:
import pandas as pd

original_dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

converted_series = pd.Series(original_dict)

print(converted_series)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series. 
Sample Series: 
  NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [10]:
import pandas as pd
import numpy as np

numpy_array = np.array([10, 20, 30, 40, 50])

converted_series = pd.Series(numpy_array)

print(converted_series)

0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series. 
Sample Series: 
    Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [9]:
import pandas as pd

original_series = pd.Series([100, 200, 'python', 300.12, 400])

changed_series = pd.to_numeric(original_series, errors='coerce')

print(changed_series)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series. 
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [11]:
import pandas as pd

df = pd.DataFrame({
    'col1': [1, 2, 3, 4, 7, 11],
    'col2': [4, 5, 6, 9, 5, 0],
    'col3': [7, 5, 8, 12, 1, 11]
})

first_column_series = df.iloc[:, 0]

print(first_column_series)
print(type(first_column_series))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

9. Write a Pandas program to convert a given Series to an array. 
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>

In [13]:
import pandas as pd
import numpy as np

original_series = pd.Series([100, 200, 'python', 300.12, 400])

series_array = original_series.to_numpy()

print(series_array)
print(type(series_array))

[100 200 'python' 300.12 400]
<class 'numpy.ndarray'>

10. Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']
}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)

selected_rows = df[(df['score'] >= 15) & (df['score'] <= 20)]

print(selected_rows)

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes